@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2-Medium.woff") format("woff");
  src: url("../fonts/GOSTUI2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2-Bold.woff") format("woff");
  src: url("../fonts/GOSTUI2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #0469ff;
  --color-secondary: #242c3e;
  --color-info: #767676;
  --color-danger: #ff6767;
  --color-success: #25b38b;
  --color-warning: #f6cd03;
  --color-section: #ffffffd1;
  --color-link: #0469ff;
  --color-divider: #dddddd;
  --color-font--primary: #363636;
  --color-font--secondary: #ffffff;
  --header-height: 64px;
}

/************************** NORMALIZED ***************************/

body,
textarea {
  font-family: "GOST UI 2";
}

body,
.el-main,
.el-header {
  margin: 0;
  padding: 0 !important;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--color-link);
}

h1 {
  font-size: 74px;
  line-height: 70px;
}

h2 {
  font-size: 26px;
  line-height: 30px;
}

button {
  font-family: "GOST UI 2";
}

ul {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style-type: none;
}

section {
  overflow: hidden;
  position: relative;
  background-color: var(--color-section);
}

.pagination {
  margin: 1rem 0;
  padding: 0;
  text-align: center;
}

/************************** COMMON ***************************/
.container,
.container-sm {
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.a-center {
  text-align: center !important;
}

.a-left {
  text-align: left !important;
}

.a-right {
  text-align: right !important;
}

.align-center {
  align-items: center !important;
}

.align-baseline {
  align-items: baseline !important;
}

.justify-center {
  justify-content: center !important;
}

.icon-mini {
  height: 20px;
  width: 20px;
}

.rounded {
  border-radius: 10px !important;
}

.shadowed {
  box-shadow: 4px 3px 7px 0px #80808045 !important;
}

.w-100 {
  width: 100% !important;
}

.heading {
  font-size: 26px;
  margin-bottom: 10px;
  font-weight: bold;
}

.bold {
  font-weight: bold !important;
}

/************************** APP ***************************/

.el-dialog__body {
  word-break: normal !important;
}

.el-dialog__title {
  font-weight: bold !important;
}

.el-button {
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.146);
  transition: all 0.2s ease-in-out;
}

.el-button--primary {
  border: none;
}

.el-button--primary:hover,
.el-button--primary:active {
  color: #000;
  background-color: #f6cd03;
}

.el-button--danger:hover,
.el-button--danger:active {
  background-color: #fe2a2a;
}

.poll .el-radio__inner,
.poll .el-checkbox__inner {
  height: 30px !important;
  width: 30px !important;
  border: 2px solid #dcdfe6 !important;
  margin-right: 0.5rem !important;
}

.el-radio__input.is-checked .el-radio__inner {
  border-color: var(--color-primary) !important;
  background: #ffffff !important;
}

.poll .el-radio__inner::after {
  width: 20px !important;
  height: 20px !important;
  background-color: var(--color-primary) !important;
}

.el-radio__input.is-checked+.el-radio__label {
  color: var(--color-primary) !important;
}

.poll .el-radio-group label,
.poll .el-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.poll .el-radio__label,
.poll .el-checkbox__label {
  font-size: 16px;
  white-space: break-spaces !important;
}

.poll .el-checkbox-group {
  display: flex;
  flex-direction: column;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: var(--color-primary) !important;
  border-color: #ffffff !important;
}

.poll .el-checkbox__inner::after {
  height: 8px !important;
  width: 4px !important;
  border-right-width: 3px !important;
  border-bottom-width: 3px !important;
  left: 10px !important;
  top: 6px !important;
}

.el-textarea__inner:hover {
  border-color: var(--color-primary) !important;
}

.el-textarea__inner {
  border-radius: 0px !important;
  border: 2px var(--color-divider) solid !important;
}

.el-textarea__inner:focus {
  border: 2px var(--color-primary) solid !important;
  border-radius: 0px !important;
}

.up_btn {
  z-index: 999;
  transform: translateZ(999);
  -webkit-transform: translateZ(999);
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.5s;
  cursor: pointer;
  background-color: #0469ff;
  color: #ffffff;
  border: 2px #ffffff solid;
}

.up_btn:hover {
  background-color: #f6cd03;
}

.up_btn:hover i {
  color: var(--color-font--primary);
}

.up_btn i {
  font-size: 20px;
  font-weight: bold;
}

.el-progress {
  display: flex;
  justify-content: space-between;
}

.el-progress__text {
  font-weight: bold;
}

.el-progress-bar__outer {
  height: 8px !important;
  border-radius: 0 !important;
}

.el-notification {
  -webkit-transform: translateZ(2000);
  transform: translateZ(2000);
}

.el-radio-button__orig-radio:checked+.el-radio-button__inner {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.el-form-item__error {
  position: relative;
}

.polls {
  background-color: #ffffff;
}

.polls .polls_wrapper {
  padding-bottom: 2rem;
}

.polls .filter_wrapper {
  padding: 1rem;
  text-align: right;
}

.el-table .cell {
  word-break: break-word !important;
}

/************************** CHARTS ***************************/

.bar_wrapper {
  width: 49%;
  font-size: 16px;
  font-weight: 500;
}

.bar_data {
  background-color: #ffffff;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.bar_result {
  font-size: 40px;
}

.canvas_wrapper {
  position: relative;
  background-color: #ffffff;
  padding: 1rem;
  min-height: 300px;
}

/************************** MEDIA QUERIES ***************************/

@media (max-width: 390px) {
  .w-100 button {
    width: 100%;
  }
}

@media (max-width: 410px) {
  .el-radio-group {
    display: flex;
    flex-direction: column;
  }

  .el-radio-group label {
    margin-bottom: 0.5rem;
  }

  .el-radio-group .el-radio-button__inner {
    width: 100%;
  }
}

@media (max-width: 960px) {
  .v-modal {
    top: calc(var(--header-height) - 1px);
  }
}

@media (min-width: 1200px) {
  .container-sm {
    max-width: 800px !important;
  }

  .container {
    max-width: 1400px !important;
  }
}

@media only screen and (max-width: 580px) {
  .el-col-xs-12 {
    width: 100% !important;
  }
}

@media (max-width: 890px) {
  .el-dialog {
    width: 70% !important;
  }
}

@media (max-width: 590px) {
  .el-dialog {
    width: 90% !important;
  }
}