@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2.woff") format("woff");
  src: url("../fonts/GOSTUI2.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2-Medium.woff") format("woff");
  src: url("../fonts/GOSTUI2-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GOST UI 2";
  font-display: swap;
  src: url("../fonts/GOSTUI2-Bold.woff") format("woff");
  src: url("../fonts/GOSTUI2-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-primary: #0469ff;
  --color-secondary: #122050;
  --color-info: #606984;
  --color-danger: #d51a1a;
  --color-success: #25b38b;
  --color-warning: #f6cd03;
  --color-link: #0469ff;
  --color-divider: #dddddd;
  --color-font--primary: #363636;
  --color-font--secondary: #ffffff;
}

/************************** NORMALIZED ***************************/

body {
  font-family: "GOST UI 2";
}

body,
.el-main,
.el-header {
  margin: 0;
  padding: 0 !important;
}

a {
  outline: none;
  text-decoration: none;
  color: var(--color-link);
}

h1 {
  font-size: 74px;
  line-height: 70px;
}

h2 {
  font-size: 26px;
  line-height: 30px;
}

.btn_primary {
  font-size: 20px;
  color: #ffffff;
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.146);
}

.btn_primary:hover {
  background-color: #f6cd03;
  color: #000;
  transition: 0.2s;
  cursor: pointer;
}

.btn_primary:active {
  background-color: #fbdd47;
}

/************************** COMMON ***************************/
.container {
  margin-right: auto;
  margin-left: auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.a-center {
  text-align: center !important;
}

.a-left {
  text-align: left !important;
}

.a-right {
  text-align: right !important;
}

.align-center {
  align-items: center !important;
}

.align-baseline {
  align-items: baseline !important;
}

.justify-center {
  justify-content: center !important;
}

.section {
  margin: 2rem 0;
}

.m-1 {
  margin: 1rem 0;
}

.p-1 {
  padding: 0 1rem;
}

.icon-mini {
  height: 24px;
  width: 24px;
}

.fill-height {
  min-height: 100vh;
}

.shadowed {
  box-shadow: 4px 3px 7px 0px #80808045;
}

/************************** APP ***************************/

.el-dialog__body {
  word-break: normal !important;
}

.el-button {
  color: #ffffff;
  background-color: var(--color-primary);
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.146);
}

.el-button:hover {
  background-color: #f6cd03 !important;
  color: #000;
  transition: 0.2s;
  cursor: pointer;
}

.el-button:active {
  background-color: #fbdd47 !important;
}

.el-button:focus {
  background-color: var(--color-primary);
}

.el-form-item__error {
  padding: 0px;
  margin-top: -10px;
}


/************************** MEDIA QUERIES ***************************/

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}